<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<small>We'll attempt to refresh every 10s.</small>

<script>
  setTimeout(function () {
    console.info('Attempting to recover...');
    location.reload();
  }, 10000);
</script>
